.navigation {
	box-sizing: border-box;
	position: fixed;
	right: -100%;
	top: 0;
	padding: 144px 0 48px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #202020;
	z-index: 2;
	justify-content: center;
	gap: 50px;
	/*overflow-y: auto;*/
}

.navigation_active {
	right: 0;
	transition: right 0.4s ease-out;
	gap: 0px;
}

.navigation_active .active {
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	border-bottom: solid 2px #fff;
	padding-bottom: 4px;
}

.navigation__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.navigation__link {
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}

.navigation__link-home {
	display: block;
	margin-bottom: 28px;
}

.navigation__profile {
	position: relative;
	margin: 0 auto;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	text-align: left;
	text-decoration: none;
	opacity: 1;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	gap: 13px;
}

.navigation__profile::after {
	background-image: url("../../images/icon__COLOR_icon-main.svg");
	content: "";
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-color: #313131;
	background-position: center;
	border-radius: 6px;
}

@media screen and (min-width: 769px) {
	.navigation {
			position: relative;
			padding: 0;
			right: 0;
			width: auto;
			height: auto;
			display: grid;
			grid-template-columns: 1fr 100px;
			justify-items: start;
			overflow: visible;
	}

	.navigation__list {
			flex-direction: row;
			gap: 16px;
	}

	.navigation__link-home {
			display: none;
	}

	.navigation__profile {
			text-align: left;
			align-self: flex-end;
	}
}

@media screen and (max-width: 768px) {
	.navigation {
			width: 68%;
			padding: 159px 0 92px 0;
	}

	.navigation__profile {
			margin-top: auto;
	}

	.navigation__list {
			gap: 28px;
	}

	.navigation__link {
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			margin-bottom: 31px;
	}
}

@media screen and (max-width: 320px) {
	.navigation {
			padding: 144px 10px 48px 10px;
			/*padding-right: auto;*/
			width: 100%;
			height: 100%;
			justify-content: center;
	}

	.navigation__link {
			color: #fff;
			text-align: center;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin-bottom: 31px;
	}

	.navigation__list {
			gap: 28px;
	}

	.navigation__list .active {
			text-decoration: none;
			border-bottom: 2px solid #fff;
			padding-bottom: 7px;
			font-size: 18px;
	}

	.navigation__link-home {
			margin-bottom: 24px;
	}
}
