.saveMovieCardList {
	background-color: #202020;
	padding: 70px 0 165px 0;
	margin: 0 auto;
	display: grid;
	max-width: 1140px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 24px;
	grid-row-gap: 30px;
	/*justify-content: center;*/
}

.saveMovie {
	width: 364px;
	/*flex-shrink: 0;*/
	border-radius: 6px;
	background: #222;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	/*overflow: hidden;*/
}

.saveMovie__container {
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	height: 41px;
}

.saveMovie__poster {
	width: 364px;
	height: 203px;
	flex-shrink: 0;
	margin-bottom: 0;
	opacity: 1;
}

.saveMovie__caption {
	color: #fff;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	/*display: flex;*/
	width: 280px;
	flex-direction: column;
	flex-shrink: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 14px 0 9px 14px;
	overflow: hidden;
}

.saveMovie__like-active {
	background-image: url("../../images/delete.svg");
	background-color: #222;
	background-repeat: no-repeat;
	border: none;
	width: 30px;
	height: 30px;
	flex-shrink: 0;
	margin-top: 19px;
	margin-right: 14px;
	padding-bottom: 19px;
}

.saveMovie__like {
	background-image: url("../../images/delete.svg");
	background-repeat: no-repeat;
	background-color: #222;
	border: none;
	width: 30px;
	height: 30px;
	flex-shrink: 0;
	margin-top: 19px;
	margin-right: 14px;
	padding-bottom: 19px;
}

.saveMovie__duration {
	color: #8b8b8b;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 14px 14px;
	padding: 0;
}
@media screen and (max-width: 1279px) {
	.saveMovieCardList {
			grid-column-gap: 10px;
			max-width: 1140px;
	}
}

@media screen and (max-width: 1255px) {
	.saveMovieCardList {
			grid-template-columns: 1fr 1fr;
			padding: 70px 70px 176px 70px;
			/*justify-items: center;*/
	}
}

@media screen and (max-width: 880px) {
	.saveMovieCardList {
			max-width: 708px;
			padding: 62px 0 174px 0;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 30px;
			grid-row-gap: 31px;
			/*padding-top: 62px;
			padding-bottom: 174px;*/
	}

	/*.saveMovie:nth-child(n + 9):nth-child(-n + 12) {
			display: none;
	}*/
	.saveMovie__poster {
			width: 339px;
			height: 190px;
	}

	.saveMovie {
			max-width: 339px;
			flex-shrink: 0;
	}
}

@media screen and (max-width: 760px) {
	.saveMovieCardList {
			grid-template-columns: 1fr;
			gap: 16px;
			justify-content: center;
			padding: 40px 10px 170px 10px;
	}

	.saveMovie__poster {
			width: 300px;
			height: 168px;
	}

	.saveMovie__caption {
			font-size: 15px;
			width: 240px;
	}

	.saveMovie__container {
			justify-content: normal;
			gap: 6px;
	}

	.saveMovie {
			width: 300px;
	}

	.saveMovie__duration {
			font-size: 11px;
	}

	.saveMovie__like-active {
			margin: 19px 0 14px 0;
	}

	.saveMovie__like {
			margin: 19px 0 14px 0;
	}

	/*.saveMovie:nth-child(n + 6):nth-child(-n + 8) {
			display: none;
	}*/
}

@media screen and (max-width: 530px) {
	.saveMovieCardList {
			grid-template-columns: 1fr;
			gap: 16px;
			justify-content: center;
			padding: 40px 10px 170px 10px;
	}

	.saveMovieCardList__container {
			margin-bottom: 177px;
	}

	.saveMovie {
			max-height: 236px;
	}

	/*.saveMovie:nth-child(n + 3) {
			display: none;
	}*/
}
